@using Games.Objects;
@model List<GameInfo> 

<table class="GameInfo">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @foreach(GameInfo giGame in Model)
     {
        <tr>
            <td>@giGame.Title</td>
            <td>@giGame.Description</td>
            <td>@giGame.Publisher</td>
            <td>@giGame.Price.ToString("C2")</td>
            <td>
                <input type="number" value="0" min="0" max="10" />
            </td>
            <td><button type="button" onclick="AddToCart(this, @giGame.ID);">Add to Cart</button></td>
        </tr>
     }
</table>